@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;1,500&family=Ubuntu:wght@300;400;500&display=swap");

/* TailwindCss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css */
.gradient-text{
    background: linear-gradient(to right, crimson,pink,springgreen);
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    text-align:center;
    transition: color .2s ease-in-out;
  }
  .gradient-text:hover{
    color:rgba(0,0,0,0);
  }
  @keyframes rainbow { 
    0%{background-position:left}
    50%{background-position:right}
    100%{background-position:left}
  }
  .gradient-text2{
    background: linear-gradient(to right, crimson,pink,springgreen);
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    text-align:center;
    transition: color .2s ease-in-out;
    color:rgba(0,0,0,0);
  }
  /* .gradient-text2:hover{
  } */

  /* custom loader from whirl */
/**
  * Flip to square
  *
  * @author jh3y - jheytompkins.com
*/
@-webkit-keyframes flip-to-square {
  0% {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  50%,
  75% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
}
@keyframes flip-to-square {
  0% {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  50%,
  75% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
}

.flip-to-square {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 60px;
  width: 60px;
}
.flip-to-square div {
  -webkit-animation: flip-to-square 1.5s calc(var(--delay) * 1s) infinite
    backwards;
  animation: flip-to-square 1.5s calc(var(--delay) * 1s) infinite backwards;
  /* background-color: var(--primary); */
  background:#9c27b0
}
.flip-to-square div:nth-child(1) {
  --delay: 0.1;
}
.flip-to-square div:nth-child(2) {
  --delay: 0.2;
}
.flip-to-square div:nth-child(3) {
  --delay: 0.3;
}
.flip-to-square div:nth-child(4) {
  --delay: 0.4;
}
.flip-to-square div:nth-child(5) {
  --delay: 0.5;
}
.flip-to-square div:nth-child(6) {
  --delay: 0.6;
}
.flip-to-square div:nth-child(7) {
  --delay: 0.7;
}
.flip-to-square div:nth-child(8) {
  --delay: 0.8;
}
.flip-to-square div:nth-child(9) {
  --delay: 0.9;
}
.containerP{
  width: 100%;
  /* height: 100%; */
}
@media (min-width: 1024px) {
  .containerP {
    max-width: 768px;
  }
}
@media (min-width: 1280px) {
  .containerP {
    max-width: 768px;
  }
}
@media (min-width: 1536px) {
  .containerP {
      max-width: 768px;
  }
}
/* spinner */
.spinner {
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 9px;
  box-shadow: 28px 0px 0 0 rgba(71,75,255,0.2), 22.7px 16.5px 0 0 rgba(71,75,255,0.4), 8.68px 26.6px 0 0 rgba(71,75,255,0.6), -8.68px 26.6px 0 0 rgba(71,75,255,0.8), -22.7px 16.5px 0 0 #474bff;
  animation: spinner-b87k6z 1s infinite linear;
}

@keyframes spinner-b87k6z {
  to {
     transform: rotate(360deg);
  }
}
/**
  * Scaling dots
  *
  * @author jh3y
*/
@keyframes scaling-dots {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40%, 60% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.scaling-dots {
  display: grid;
  /* height: 10px; */
  grid-gap: 5px;
  grid-template-columns: repeat(5, 10px); }
  .scaling-dots div {
            animation: scaling-dots 1s infinite ease backwards;
            background: whitesmoke;
    /* background: var(--primary); */
    border-radius: 100%;
    height: 10px;
    width: 10px; }
    .scaling-dots div:nth-child(1) {
              animation-delay: 0.1s; }
    .scaling-dots div:nth-child(2) {
              animation-delay: 0.2s; }
    .scaling-dots div:nth-child(3) {
              animation-delay: 0.3s; }
    .scaling-dots div:nth-child(4) {
              animation-delay: 0.4s; }
    .scaling-dots div:nth-child(5) {
              animation-delay: 0.5s; }