@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;1,500&family=Ubuntu:wght@300;400;500&display=swap");

/* TailwindCss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css */
.gradient-text{
    background: linear-gradient(to right, crimson,pink,springgreen);
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    text-align:center;
    transition: color .2s ease-in-out;
  }
  .gradient-text:hover{
    color:rgba(0,0,0,0);
  }
  @keyframes rainbow { 
    0%{background-position:left}
    50%{background-position:right}
    100%{background-position:left}
  }